h1 {
  font-family: $font-h1;
  font-size: $font-xlarge;

  @include tablet {
    font-size: $font-large;
  }
}

h2 {
  font-size: $font-large;

  @include tablet {
    font-size: $font-medium;
  }
}

h3 {
  font-size: $font-medium;

  @include tablet {
    font-size: $font-sm;
  }
}

h2,
h3,
h4 {
  font-family: $font-header;
  letter-spacing: 0.1em;
  font-weight: 100;
  text-transform: lowercase;
}

p,
span {
  font-family: $font-main;
  font-size: $font-small;
  line-height: 1.6;
  letter-spacing: 0.1em;

  @include tablet {
    font-size: $font-xsmall;
  }
}

a {
  color: $color-white;
  text-decoration: none;
}
