/* COLORS */
$color-black: #0f0f0f;
$color-white: #fff;
$color-grey: #cfcfcf;

$color-primary-dark: rgb(22, 27, 29);
$color-primary: rgb(42, 54, 59);
$color-secondary: rgb(232, 74, 95);

/* Fonts */
$font-header: "Pompiere", cursive;
$font-main: "Roboto", sans-serif;

$font-xlarge: 6rem;
$font-large: 3rem;
$font-medium: 2.25rem;
$font-sm: 1.8rem;
$font-small: 1rem;
$font-xsmall: 0.8rem;
