#about {
  .text-block {
    text-align: center;
    max-width: 700px;
    padding-bottom: 3rem;
  }

  .text-block-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
  }

  .list-block {
    padding: 3rem 0;

    .list-date {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: -25px;
        width: 0;
        height: 0;
        border-bottom: 8px solid transparent;
        border-left: 12px solid rgba($color-primary-darkblue, 0.8);
        border-top: 8px solid transparent;
        transition: left 0.2s ease-in-out;
      }

      &:hover {
        &:before {
          left: -20px;
        }
      }
    }
    ul {
      margin: 0 2rem;
      max-width: 450px;
      list-style: none;
    }
    li {
      line-height: 1.6;
      font-family: $font-main;
    }
  }
}
