footer {
  padding: 60px 0;

  @include phone {
    position: relative;
  }

  .content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;

    @include phone {
      align-items: center;
    }
  }

  .footer-copyright {
    font-size: $font-xsmall;
    @include phone {
      padding: 2rem 0;
      font-size: 12px;
    }
  }
}
