header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.theme-button {
  display: none;

  &,
  input {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    z-index: 1;
    cursor: pointer;

    input {
      opacity: 0;
    }
    input:checked + span:before {
      transform: translateX(-25px);
    }
    .dark {
      &:before {
        background-color: #fff;
      }
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: 0.4s;
    border-radius: 50px;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      right: 3px;
      top: 2px;
      background-color: #fff;
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
