header {
  padding: 2rem 60px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;

  @include phone {
    padding: 1.4rem;
  }

  .logo-mobile img {
    display: none;
    @include phone {
      display: block;
      width: 70px;
      height: 70px;
    }
  }

  .inner-nav {
    display: flex;
    justify-content: space-evenly;

    .logo {
      img {
        @include phone {
          display: none;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style-type: none;
      font-size: $font-large;
      font-family: $font-header;
      font-weight: 100;

      li {
        position: relative;
        margin-left: 5rem;

        a:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 6px;
          background-color: $color-secondary;
          transition: width 0.35s cubic-bezier(0.17, 1, 0.5, 1);
        }

        a:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
  }

  .inner-icons {
    display: flex;
    align-items: center;
  }
}
