/* FONTS */
$font-main: sans-serif;
$font-header: serif;

/* COLORS */
$color-black: #000;
$color-white: #fff;
$color-grey: #cfcfcf;

$color-primary-blue: #1d3557;
$color-primary-purple: #7a0058;
$color-primary-red: #942b3b;
