@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pompiere";
  src: local("Pompiere"),
    url("./fonts/Pompiere/Pompiere-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
